ENV=local

STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key_here
STRIPE_SECRET_KEY=sk_test_your_secret_key_here

### HOST ###
HOST_DIR_FRONT=./front
HOST_DIR_BACK=./backend
SECRET_KEY=your_secret_key_here

### FRONT ###
VUE_APP_ENV=local
PORT=80
HOST_PORT_FRONT=8000

### BACKEND ###
DJANGO_ENV=local
BACK_PROTOCOL=http
BACK_HOST=localhost
BACK_PORT=8212

### DATABASE SQL ###
MYSQL_ROOT_PASSWORD=your_root_password_here
DB_MOTEUR_HOST=linkmysql
DB_MOTEUR_PORT=3306
DB_MOTEUR_ENGINE=django.db.backends.mysql
DB_MOTEUR_NAME=jam
DB_MOTEUR_NAME_TEST=jam_test
DB_MOTEUR_USER=jam
DB_MOTEUR_PASSWORD=your_db_password_here

### DJANGO ###
DJANGO_SUPER_USER_LOGIN=admin
DJANGO_SUPER_USER_EMAIL=admin@myproject.com
DJANGO_SUPER_USER_PWD=your_admin_password_here
