.DS_Store

# IDEs and editors
.vscode/*
/dist

# IDE - VSCode
.vscode
.idea
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
# System Files
.DS_Store
Thumbs.db

# Logs
*.log
